<div class="background">
<div class="trip-container">
  <h1><%= @user.username %>'s Roadtrip</h1>
  <h3>From <%= @trip.origin %> to <%= @trip.destination %></h3>
  <h3>Departing: <%= @trip.date %> at <%= @trip.time %></h3>
  <img class="car" src=<%= @trip.car_photo %>>
  <h2>Seats available: <%= @trip.seats %></h2>
  <p>Price: <%= @trip.price %></p>
</div>

<div class="passengers-container">
  <h3>Passengers:</h3>
  <% @passengers.each do |passenger| %>
    <div class="passenger">
      <div class="icon"><img src=<%= passenger.user.profile_picture %>></div>
      <%= passenger.user.username %>
      <%= link_to "Profile", user_path(passenger.user.id) %>
    </div>
  <% end %>
  <%= button_to "Join this trip!", join_path(@trip.id) %>
</div>
</div>
<a href="/trips?">Return to view all trips</a>

<div class="container">
 
  <h1>Firebase Chat Application</h1>

  <div class="panel panel-default">

    <div class="panel-body">
      <div id="comments-container"></div>
    </div>

    <div class="panel-footer">

      <form role="form">
          <div class="form-group">
              <label for="comments">Please enter your comments here</label>
              <input class="form-control" id="comments" name="comments">
          </div>

          <button type="submit" id="submit-btn" name="submit-btn"
              class="btn btn-success">Send Comments</button>

          <button type="reset" class="btn btn-danger">Clear Comments</button>
      </form>

    </div>
  </div>
</div>
