<!DOCTYPE html>
<html>

</body><head>
  <title>Roadtripper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if session[:user_id] %>
  <%=link_to "Log Out", user_path(@user.id), method: :delete %>
<% end %>

<%= yield %>

</html>
