<h1 class="header">RoadTripper</h1>

<div class="login">
<%= form_for @user , url: login_path(@user) do |f| %>
  <% if @error %>
    <%= @error %>
  <% end %>
    <%= f.label :username %>
    <%= f.text_field :username, required: true, title: "Please Enter Your Username" %>

    <%= f.label :password %>
    <%= f.password_field :password_hash, required: true %>

    <%= f.submit "Login" %>
<% end %>
</div>
<button type="button" class="btn btn-default btn-lg btn-block">
<%= link_to "SIGN UP", href="/users/new" %>
</button>

<img src="https://unsplash.imgix.net/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?fit=crop&fm=jpg&h=500&q=75&w=1050", alt="roadtrip", width="100%""> 



