<div class="profile">
  <h1 class="jumbotron">Welcome, <%= @user.username %></h1>
  <img class="profile" src=<%= @user.profile_picture %>>
  <p><%= @user.introduction %></p>
</div>


<div class="driver-ratings">
  <h3>Ratings as Driver:</h3>
  <% @driver_ratings.each do |rating| %>
    <div class="rating">
      <% rating.value.times do |stars| %>
        <span class="glyphicon glyphicon-star"></span>
      <% end %>
      <p><%= rating.comment %></p>
    </div>
  <% end %>
</div>

<div class="passenger-ratings">
  <h3>Ratings as passenger:</h3>
  <% @passenger_ratings.each do |rating| %>
    <div class="rating">
      <% rating.value.times do |stars| %>
        <span class="glyphicon glyphicon-star"></span>
      <% end %>
      <p><%= rating.comment %></p>
    </div>
  <% end %>
</div>

<% if @user.id == session[:user_id] %>
  <button class="edit">Edit Profile</button>
  <%= form_for @user, url: user_path(@user), method: :put do |f| %>

    <%= f.label :profile_picture %>
    <%= f.text_field :profile_picture %>

    <%= f.label :introduction %>
    <%= f.text_field :introduction %>

    <%= f.label :contact_info %>
    <%= f.text_field :contact_info %>

    <%= f.submit %>
  <% end %>
<% end %>

<% if @user.id != session[:user_id] %>
  <%= form_for @rating, url: ratings_path(@user) do |f| %>
    <%= f.radio_button :user_type, '1' %>
    <%= label :driver_rating, 'Driver' %>

    <%= f.radio_button :user_type, '2' %>
    <%= label :passenger_rating, 'Passenger' %>

    <%= f.label :rating %>
    <%= f.text_field :value %>

    <%= f.label :comment %>
    <%= f.text_field :comment %>
    <%= f.submit %>
  <% end %>
<% end %>

<%= button_to "Create new trip", new_trip_path, method: :get %>
<%= button_to "Look for trips", trips_path, method: :get %>

