<div class="profile">
  <h1><%= @user.username %></h1>
  <img class="profile" src=<%= @user.profile_picture %>>
  <p><%= @user.introduction %></p>
</div>

<div class="driver-ratings">
  <% @driver_ratings.each do |rating| %>
    <div class="rating">
      <p><%= '⭐' * rating.value %></p>
      <p><%= rating.comment %></p>
    </div>
  <% end %>
</div>

<div class="passenger-ratings">
  <% @passenger_ratings.each do |rating| %>
    <div class="rating">
      <p><%= '⭐' * rating.value %></p>
      <p><%= rating.comment %></p>
    </div>
  <% end %>
</div>

<%= button_to "Create new trip", new_trip_path, method: :get %>
<%= button_to "Look for trips", trips_path, method: :get %>
