<div class="profile">
  <h1><%= @user.username %></h1>
  <img class="profile" src=<%= @user.profile_picture %>>
  <p><%= @user.introduction %></p>
</div>
<div class="ratings">
  <p>Rating as driver: <%= 'â­' * @user.driver_rating %></p>
  <p>Rating as passenger: <%= 'â­' * @user.passenger_rating %></p>
</div>
<%= button_to "Create new trip", new_trip_path, method: :get %>
