<h1>Available Trips</h1>
<% @trips.each do |trip| %>
  <div class="trip">
    <div>Origin: <%= trip.origin %></div>
    <div>Destination: <%= trip.destination %></div>
    <div>Price: <%= trip.price %></div>
    <div>Seats Remaining: <%= trip.seats %></div>
    <div><%= trip.car_photo %></div>
    <div>Departure Time: <%= trip.time %></div>
    <div>Date: <%= trip.date %></div>
    <br>
  </div>
<% end %>